---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&exclude=minutely,alerts&lat=33.44&lon=-94.04&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664034333,"sunrise":1664021137,"sunset":1664064642,"temp":82.98,"feels_like":87.55,"pressure":1017,"humidity":67,"dew_point":70.88,"uvi":4.49,"clouds":0,"visibility":10000,"wind_speed":7,"wind_deg":209,"wind_gust":14,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664031600,"temp":83.08,"feels_like":87.24,"pressure":1017,"humidity":65,"dew_point":70.11,"uvi":2.47,"clouds":0,"visibility":10000,"wind_speed":8.48,"wind_deg":242,"wind_gust":14.65,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664035200,"temp":82.98,"feels_like":87.55,"pressure":1017,"humidity":67,"dew_point":70.88,"uvi":4.49,"clouds":0,"visibility":10000,"wind_speed":9.28,"wind_deg":243,"wind_gust":13.11,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664038800,"temp":84.58,"feels_like":89.11,"pressure":1017,"humidity":62,"dew_point":70.12,"uvi":6.34,"clouds":0,"visibility":10000,"wind_speed":9.69,"wind_deg":244,"wind_gust":11.92,"weather":[{"id":800,"mai[...]
